:root {
  --sz: 100%;
  --svh: 100svh;
  --unit: 5;
  --pd: 1.25rem;
  --rd: .3lh;
  --border-sz: 25rem;
  --fnt-sz: calc((var(--pd) / 2 ) * var(--unit));
  --fnt-play: 'Play', sans-serif;
  --fnt-abel: 'Abel', sans-serif;
  --dark-color: hsl(196, 63%, 33%);
  --blue-color: hsl(204, 70%, 53%);
  --light-gray: hsl(192, 15%, 94%);
  --red-color: hsl(12, 82%, 37%);
  --gray-brick-color: hsl(0, 5%, 75%);
  --dark-green: hsl(149, 85%, 23%);
  --middle-green: hsl(114, 38%, 48%);
  --forest-green: hsl(69, 76%, 42%);
  --hue: 250;
  --saturation: 45%;
  --lightness: 97%
}

*,
*::before,
*::after { box-sizing: border-box; }

:where(html, body, p) { margin: 0; }
:where(.grid) {
  display: grid;
  place-items: center;
}
:where(.flex) {
  display: flex;
  align-items: center;
}
:where(.absolute) { position: absolute; }
:where(.snake, .food) {
  width: calc(var(--pd) * .65);
  height: calc(var(--pd) * .65)
}

body {
  background: var(--light-gray);
  &.dark { background: hsl(0, 100%, 0%) }
}

.container {
  width: var(--sz);
  height: var(--svh);
  .toggle--container {
    top: 1ch;
    right: 5ch;
    .toggle {
      --toggle-sz: 3ch;
      --dark-theme: var(--dark, hsl(0, 25%, 2%));
      width: var(--sz);
      min-width: calc(var(--toggle-sz) * 2.125);
      height: var(--toggle-sz);
      position: relative;
      border-radius: 5ch;
      border: none;
      background: var(--dark-theme);
      box-shadow: .025ch .025ch .75ch 0 rgba(255,255,255,.85) inset;
      cursor: pointer;
      &.active {
        --dark: hsl(10, 60%, 98%);
        background: var(--dark);
        box-shadow: .025ch .025ch .75ch 0 rgba(0,0,0,.85) inset
      }
      &::before {
        content: '';
        width: calc(var(--toggle-sz) * .725);
        height: calc(var(--toggle-sz) * .725);
        background: var(--light-gray);
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        border-radius: var(--sz);
        transition: 200ms right cubic-bezier(0.075, 0.82, 0.165, 1);

      }
      &.active::before {
        --dark: hsl(0, 25%, 2%);
        left: 76%;
        background: var(--dark);
        transition: 200ms left cubic-bezier(0.165, 0.84, 0.44, 1)
      }
    }
  }
  .game--container {
    position: relative;
    .score--container {
      display: none;
      justify-content: space-between;
      width: var(--sz);
      padding-block-end: calc(var(--pd) * .5);
      .info {
        justify-content: center;
        font: 700 calc(var(--fnt-sz) / 3) var(--fnt-play);
        text-transform: capitalize;
        &:has(span) { color: var(--dark-color); }
        &:has(span.active) { color: hsl(10, 60%, 98%) }
        & :where(span) {
          margin-inline-start: .25rem;
          font-weight: 500; 
        }
        .high--score { 
          color: var(--blue-color);
          &.active{ color: var(--light-gray) }
        }
      }
    }
    .game--board {
      --border: hsl(calc(var(--hue) * 2.7), calc(var(--saturation) * .2), calc(var(--lightness) * .5));
      grid-template-columns: repeat(20, var(--pd));
      grid-template-rows: repeat(20, var(--pd));
      position: relative;
      background: linear-gradient(
        0deg,
        hsl(
          calc(var(--hue) * 3.2), 
          calc(var(--saturation) * 1.75), 
          calc(var(--lightness) * .75)
        ),
        hsl(
          calc(var(--hue) * 2.25), 
          calc(var(--saturation) * .75), 
          calc(var(--lightness) * .75)
        )

      );
      border: calc(var(--rd) * .75) var(--border) solid;
      &::before {
        content: '';
        position: absolute;
        width: var(--sz);
        border: .1lh solid var(--dark-color);
        top: -.7rem;
        border-radius: .2rem;
      }
      &.active::before { border: .1lh solid var(--light-gray) }
      & :where(.food, .brick) { border: .15lh var(--border) solid }
      & :where(.snake, .brick) {
        width: var(--pd);
        height: var(--pd);
      }
      .snake {
        background: linear-gradient(
          45deg,
          var(--dark-green),
          var(--middle-green)
        );
        border: .15lh solid var(--forest-green)
      }
      .food {
        background: var(--red-color);
        border-radius: 50%;
      }
      .brick { background: var(--gray-brick-color); }
    }
    .description--container {
      justify-content: center;
      flex-direction: column;
      width: var(--sz);
      height: var(--sz);
      inset: 50%;
      transform: translate(-50%, -50%);
      .snake--image {
        --img-sz: calc(var(--pd) * 20.4);
        width: var(--img-sz);
        height: var(--img-sz);
        object-fit: cover;
        bottom: 0
      }
      .description {
        font: 500 var(--pd) var(--fnt-abel);
        bottom: 0;
        &::first-letter { text-transform: capitalize; }
        span {
          text-transform: uppercase;
          font-family: var(--fnt-play);
          font-weight: bold;
        }
      }
    }
  }
}